@use "../abstracts/variables";
@use "../abstracts/mixins";

.bookmark_section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 4;
  overflow-y: scroll;
  display: none;

  .bookmark_section_exclamation_container {
    width: 100%;
    height: variables.$bookmark_section_exclamation_container_height_mobile;
    position: absolute;
    top: variables.$bookmark_section_exclamation_container_top_mobile;
    @include mixins.flex-center("", center);
    justify-content: space-evenly;
    display: none;
  }

  .__btn_close_bookmark_section {
    position: absolute;
    right: variables.$btn_close_bookmark_section_right_mobile;
    font-size: variables.$btn_close_bookmark_section_font_size;
  }

  .--clear_shadow {
    opacity: 1;
    background-color: variables.$color_recipe_list;
  }
}
