$base_width: 100vw;
$base_height: 200vh;
$img_shadow_opacity: 0.5;

// mobile values
$add_recipe_border_radius_mobile: 10px;
$add_recipe_bookmark_height_mobile: 10vh;
$add_recipe_bookmark_margin_left_mobile: 3vw;
$add_recipe_bookmark_margin_top_mobile: 3vh;
$add_recipe_bookmark_width_mobile: 35vw;
$add_recipe_container_height_mobile: 50vh;
$add_recipe_container_top_mobile: 25vh;
$add_recipe_section_backdrop_filter_blur_mobile: 5px;
$bookmark_add_recipe_font_size_mobile: 0.8em;
$bookmark_section_height_mobile: 55vh;
$bookmark_section_message_mobile: 0.8em;
$btn_bookmark_container_width_mobile: 8vw;
$btn_bookmark_font_size_mobile: 0.6em;
$btn_bookmark_padding_mobile: 0.5em;
$btn_bookmark_container_margin_right: 2vw;
$btn_border_radius_mobile: 10px;
$btn_close_bookmark_section_font_size: 2em;
$btn_close_bookmark_section_right_mobile: 2vw;
$btn_decrease_increase_height_width_mobile: 2.5vw;
$btn_increase_margin_left_mobile: 0.5vw;
$btn_instruction_border_radius_mobile: 40px;
$btn_instruction_font_size_mobile: 0.5em;
$btn_instruction_height_mobile: 5vh;
$btn_instruction_text_margin_right_mobile: 1vw;
$btn_instruction_width_mobile: 30vw;
$btn_pagination_container_height_mobile: 5vh;
$btn_margin_left_right_mobile: 2vw;
$btn_left_right_font_size_mobile: 0.4em;
$btn_left_right_height_mobile: 3vh;
$btn_left_right_width_mobile: 15vw;
$btn_upload_hight_mobile: 5vh;
$btn_upload_margin_mobile: 3vh;
$btn_upload_width_mobile: 25vw;
$btn_writings_font_size_mobile: 0.9em;
$btn_writings_margin_left_right_mobile: 0.4vw;
$check_icon_margin_left_mobile: 2vw;
$company_name_font_size_mobile: 4vw;
$company_name_margin_left_mobile: 3px;
$company_name_icon_a_container_height_mobile: 5vh;
$company_name_icon_a_container_width_mobile: 30vw;
$company_name_width_mobile: 20vw;
$cooking_time_container_width_mobile: 33%;
$cooking_writings_font_size_mobile: 0.6em;
$empty_page_message_margin_mobile: 6vh;
$exclamation_container_height_mobile: 10%;
$exclamation_container_top_mobile: 5vh;
$footer_bottom_position_mobile: 1vh;
$img_container_height_mobile: 25vh;
$ingredient_container_height_mobile: 140vh;
$ingredient_heading_padding_top_mobile: 2vh;
$ingredient_info_container_font_size_mobile: 0.8em;
$ingredient_info_container_height_mobile: 5vh;
$ingredient_margin_left_mobile: 2vw;
$input_border_radius_mobile: 20px;
$input_line_height_mobile: 3vh;
$input_upload_width_mobile: 17vw;
$input_width_mobile: 25vw;
$instruction_heading_padding_top_mobile: 1vh;
$instruction_info_margin_top_mobile: 0vh;
$instruction_info_padding_right_mobile: 1vw;
$label_upload_font_size_mobile: 0.7em;
$label_upload_margin_right_mobile: 2vw;
$meal_container_height_mobile: 18.5vh;
$meal_container_number_max_mobile: 10;
$meal_info_width_mobile: 15vw;
$meal_img_width_height_mobile: 11vh;
$meal_name_font_size_mobile: 0.7em;
$meal_name_tag_font_size_mobile: 0.8em;
$meal_name_tag_margin_bottom_mobile: -2vh;
$meal_name_tag_margin_rotate_deg_mobile: -5deg;
$meal_name_tag_padding_x_mobile: 0.3rem;
$meal_name_tag_padding_y_mobile: 0.2rem;
$meal_container_hover_margin_mobile: 1vh;
$meal_user_font_size_mobile: 0.8em;
$nav_margin_top_mobile: 1vh;
$navbar_size_mobile: 1.5em;
$navigation_bar_margin_right_mobile: 5vw;
$navigation_height_mobile: 5vh;
$number_of_serving_container_width_mobile: 40%;
$page_container_height_mobile: 192vh;
$page_container_margin_top_mobile: 3vh;
$recipe_container_width_mobile: 60%;
$recipe_list_container_width_mobile: 40%;
$recipe_list_height_mobile: 180vh;
$recipe_owner_font_size_mobile: 0.5em;
$search_overlap_margin_mobile: 7vw;
$serving_container_height_mobile: 5vh;
$serving_container_margin_top_mobile: 3vh;
$serving_container_user_font_size_mobile: 0.7em;
$serving_writings_font_size_mobile: 0.6em;
$spinner_font_size: 3em;
$upload_font_size_mobile: 0.8em;

//color values
$color_gradient_body_start: #fbdb89;
$color_gradient_body_end: #f48982;
$color_ingredient: #f2efee;
$color_main_container: #f9f5f3;
$color_recipe_list: white;
$color_text_all: #333333;
