@charset "UTF-8";
body {
  position: relative;
  width: 100vw;
  height: 200vh;
  margin: 0px;
  background-color: #f9f5f3;
}

.main {
  width: 100vw;
  height: 200vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f5f3;
}

.bar_container_nav, .bar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  display: none;
}

.bar_container {
  z-index: 4;
  opacity: "";
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  position: absolute;
  top: 0vh;
  display: none;
}
.bar_container .add_recipe,
.bar_container .bookmark {
  display: flex;
  flex-direction: "";
  align-items: center;
  width: 35vw;
  height: 10vh;
  margin-top: 3vh;
}

@font-face {
  font-family: "a_note";
  src: url("../../src/assets/fonts/a_note.woff");
}
nav {
  display: flex;
  flex-direction: "";
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  justify-content: space-evenly;
}
nav .company_name_icon_a_container {
  width: 30vw;
  height: 5vh;
  display: inline-flex;
}
nav .company_name_icon_a_container:link, nav .company_name_icon_a_container:visited, nav .company_name_icon_a_container:hover, nav .company_name_icon_a_container:active {
  text-decoration: none;
}
nav form {
  display: flex;
  flex-direction: "";
  align-items: center;
  height: 5vh;
}
nav form .searchbar {
  box-sizing: border-box;
  padding-right: 7vw;
}
nav form .searchbar:focus {
  outline: none;
}
nav form .btn_submit {
  margin-left: -7vw;
  font-size: smaller;
  font-weight: lighter;
}
nav .navigation_bar {
  display: flex;
  flex-direction: "";
  align-items: center;
  font-size: 1.5em;
}
nav .navigation_bar i {
  color: black;
}

.recipe_list_container {
  height: 192vh;
}

.recipe_list_container,
.bookmark_section {
  position: relative;
  flex-basis: 40%;
}
.recipe_list_container .meal_href:link, .recipe_list_container .meal_href:visited, .recipe_list_container .meal_href:hover, .recipe_list_container .meal_href:active,
.recipe_list_container .bookmark_href:link,
.recipe_list_container .bookmark_href:visited,
.recipe_list_container .bookmark_href:hover,
.recipe_list_container .bookmark_href:active,
.recipe_list_container .clone_meal:link,
.recipe_list_container .clone_meal:visited,
.recipe_list_container .clone_meal:hover,
.recipe_list_container .clone_meal:active,
.bookmark_section .meal_href:link,
.bookmark_section .meal_href:visited,
.bookmark_section .meal_href:hover,
.bookmark_section .meal_href:active,
.bookmark_section .bookmark_href:link,
.bookmark_section .bookmark_href:visited,
.bookmark_section .bookmark_href:hover,
.bookmark_section .bookmark_href:active,
.bookmark_section .clone_meal:link,
.bookmark_section .clone_meal:visited,
.bookmark_section .clone_meal:hover,
.bookmark_section .clone_meal:active {
  text-decoration: inherit;
  color: inherit;
}
.recipe_list_container .recipe_list_exclamation_container,
.bookmark_section .recipe_list_exclamation_container {
  display: flex;
  flex-direction: "";
  align-items: center;
  width: 55%;
  height: 10%;
  position: absolute;
  top: 5vh;
  justify-content: space-between;
  display: none;
}
.recipe_list_container .recipe_list_exclamation_container .fa-triangle-exclamation,
.bookmark_section .recipe_list_exclamation_container .fa-triangle-exclamation {
  margin: 0 2vw;
}

.bookmark_section .clone_meal:hover {
  background-color: white;
}

.meal_container {
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-evenly;
  height: 18.5vh;
  display: none;
}
.meal_container:hover {
  background-color: #f2efee;
}
.meal_container:hover img,
.meal_container:hover div {
  margin-bottom: 1vh;
}
.meal_container .__meal_img {
  width: 11vh;
  height: 11vh;
  opacity: 0.5;
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 50%;
}
.meal_container .meal_info {
  display: inline-block;
  width: 15vw;
}
.meal_container .meal_info .__meal_name,
.meal_container .meal_info .__recipe_owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal_container .meal_info .__meal_name {
  font-size: 0.7em;
}
.meal_container .meal_info .__recipe_owner {
  font-size: 0.5em;
}
.meal_container .meal_user {
  font-size: 0.8em;
  display: none;
}

.btn_pagination_container {
  position: absolute;
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 1vh;
  display: none;
}

.serving_container,
.number_of_serving_container,
.cooking_time_container,
.btn_number_of_serving_container,
.btn_bookmark_container {
  display: flex;
  justify-content: space-between;
}

.recipe_container {
  flex-basis: 60%;
}
.recipe_container .__empty_page_message {
  margin: 6vh;
}
.recipe_container .recipe_container_exclamation_container {
  display: flex;
  flex-direction: "";
  align-items: center;
  width: 55%;
  height: 10%;
  position: absolute;
  top: 5vh;
  justify-content: space-between;
  display: none;
}
.recipe_container .recipe_container_exclamation_container .fa-triangle-exclamation {
  margin: 0 2vw;
}
.recipe_container .recipe_container_active {
  display: none;
}
.recipe_container .img_container {
  position: relative;
  width: 100%;
  height: 25vh;
}
.recipe_container .img_container .__img_big {
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 0;
}
.recipe_container .img_container .__img_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0.5;
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  z-index: 1;
}
.recipe_container .img_container .meal_name_tag {
  position: absolute;
  width: 50%;
  bottom: 0;
  margin-bottom: -2vh;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
  text-align: center;
  z-index: 2;
}
.recipe_container .img_container .meal_name_tag .__meal_name_tag {
  box-decoration-break: clone;
  opacity: "";
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  font-size: 0.8em;
  font-style: italic;
  text-transform: uppercase;
  padding: 0.2rem 0.3rem;
}
.recipe_container .serving_container {
  margin-top: 3vh;
  height: 5vh;
  display: flex;
}
.recipe_container .serving_container .cooking_time_container {
  width: 33%;
  align-self: center;
}
.recipe_container .serving_container .number_of_serving_container {
  width: 40%;
  align-self: center;
}
.recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container {
  width: 25%;
  align-self: center;
  justify-content: space-between;
}
.recipe_container .serving_container .btn_bookmark_container {
  width: 8vw;
  margin-right: 5vw;
}
.recipe_container .serving_container .btn_bookmark_container .serving_container_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.7em;
  display: none;
}
.recipe_container .ingredient_container {
  width: 100%;
  height: 140vh;
  background-color: #f2efee;
  overflow-y: scroll;
}
.recipe_container .ingredient_container .__ingredient_heading {
  text-align: center;
  padding-top: 2vh;
}
.recipe_container .ingredient_container .ingredient_info_container {
  display: flex;
  align-items: center;
  height: 5vh;
  font-size: 0.8em;
  padding: 0.8em 0.3em;
  display: none;
}
.recipe_container .ingredient_container .ingredient_info_container .--check_icon {
  margin-left: 2vw;
}
.recipe_container .ingredient_container .ingredient_info_container .__ingredient {
  margin-left: 2vw;
}
.recipe_container .cooking_instruction_container {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f5f3;
  bottom: 1vh;
}

.page_container {
  margin-top: 3vh;
  width: 100%;
  height: 192vh;
  background-color: #f9f5f3;
  display: flex;
  flex-direction: "";
  align-items: "";
}

.add_recipe_section {
  display: none;
  position: absolute;
  top: 0vh;
  width: 100vw;
  height: 200vh;
  backdrop-filter: blur(5px);
  z-index: 5;
}
.add_recipe_section .add_recipe_container {
  width: 90vw;
  height: 50vh;
  border-radius: 10px;
  position: sticky;
  left: 5vw;
  top: 25vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.add_recipe_section .add_recipe_container .upload_form_container {
  display: flex;
  flex-direction: row;
  align-items: "";
  width: 100%;
}
.add_recipe_section .add_recipe_container .upload_form_container .upload_container,
.add_recipe_section .add_recipe_container .upload_form_container .upload__column {
  margin: 0 5vw;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.upload_item_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  margin-top: 1vh;
}

.bookmark_section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 4;
  overflow-y: scroll;
  display: none;
}
.bookmark_section .bookmark_section_exclamation_container {
  display: flex;
  flex-direction: "";
  align-items: center;
  width: 100%;
  height: 10%;
  position: absolute;
  top: 5vh;
  justify-content: space-between;
  display: none;
  display: flex;
}
.bookmark_section .__btn_close_bookmark_section {
  position: absolute;
  right: 2vw;
  font-size: 2em;
}
.bookmark_section .--clear_shadow {
  opacity: 1;
  background-color: white;
}

.__company_name {
  font-family: a_note, sans-serif;
  font-size: 4vw;
  width: 20vw;
  margin-left: 3px;
  color: #333333;
  white-space: nowrap;
  align-self: center;
}

.__brand_logo {
  width: 100%;
  height: 100%;
  align-self: center;
}

input {
  width: 25vw;
  border-radius: 20px;
  line-height: 3vh;
  border: none;
}

.--input_upload {
  width: 17vw;
  border: solid 1px black;
}
.--input_upload::placeholder {
  color: transparent;
}

.__add_recipe,
.__bookmark {
  font-size: 0.8em;
  align-self: center;
  margin-left: 3vw;
}

.__page,
.__page_number_right,
.--arrow {
  font-size: 0.9em;
  margin: 0 0.4vw;
}

.__cooking_time_icon,
.__cooking_time_number,
.__minute_text {
  font-size: 0.6em;
}

.__number_of_serving_icon,
.__number_of_serving,
.__servings_text {
  font-size: 0.6em;
}

.__cook_name {
  font-weight: bold;
}

.--add_color {
  color: #f48982;
}

.--direction {
  margin-right: 1vw;
}

.--label_upload {
  font-size: 0.7em;
  margin-right: 2vw;
}

.--upload {
  font-size: 0.8em;
}

.--bookmark_section_message {
  font-size: 0.8em;
}

.__instruction_heading {
  text-align: center;
  padding-top: 1vh;
}

.__instruction_info {
  text-align: center;
  margin-top: 0vh;
  padding-right: 1vw;
}

button {
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 10px;
  background-color: #f9f5f3;
  align-self: center;
  padding: 0px;
}

.page_left,
.page_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15vw;
  height: 3vh;
  margin: 0px 2vw;
  font-size: 0.4em;
  font-weight: bold;
  background-color: #f2efee;
}

.__btn_decrease,
.__btn_increase {
  border: solid 1px #f48982;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
}
.__btn_decrease .--minus,
.__btn_decrease .--plus,
.__btn_increase .--minus,
.__btn_increase .--plus {
  font-size: 5px;
  align-self: center;
}

.__btn_bookmark {
  font-size: 0.6em;
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
}
.__btn_bookmark .filled_icon {
  display: none;
}

.--btn_filled {
  font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
  opacity: "";
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  color: white;
}

.__btn_close_recipe_data {
  margin-right: -85vw;
  margin-top: 1vh;
}

.btn_upload {
  margin: 3vh auto;
  height: 5vh;
  width: 25vw;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.spinner {
  display: flex;
  flex-direction: row;
  align-items: "";
  justify-content: center;
  margin-top: 5vh;
  font-size: 3em;
  animation-name: spinner_spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: none;
}

@keyframes spinner_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  body {
    opacity: "";
    background: linear-gradient(to right bottom, #fbdb89, #f48982);
    overflow-x: hidden;
  }
  .main_container {
    width: 90vw;
    height: 200vh;
    border-radius: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .main_container nav {
    height: 15vh;
    margin-top: 7vh;
    border-radius: 10px 10px 0 0;
    background-color: #f9f5f3;
    flex-direction: row;
  }
  .main_container nav .company_name_icon_a_container {
    width: 15vw;
    height: 12vh;
  }
  .main_container nav .company_name_icon_a_container .__company_name {
    font-size: 2vw;
    margin-left: 10px;
  }
  .main_container nav .navigation {
    width: 35vw;
    height: 10vh;
  }
  .main_container nav .navigation .searchbar {
    padding-right: 10vw;
    width: 32vw;
    line-height: 8vh;
    border-radius: 200px;
    font-size: 1em;
    text-indent: 1em;
  }
  .main_container nav .navigation .btn_submit {
    margin-left: -10vw;
    height: 8vh;
    width: 12vw;
    border-radius: 200px;
  }
  .main_container nav .bar_container_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vw;
    height: 10vh;
    white-space: nowrap;
  }
  .main_container nav .bar_container_nav .add_recipe_nav,
.main_container nav .bar_container_nav .bookmark_nav {
    display: flex;
    flex-direction: row;
    align-items: "";
    justify-content: center;
    width: 10vw;
    height: 10vh;
  }
  .main_container nav .bar_container_nav .add_recipe_nav .__add_recipe,
.main_container nav .bar_container_nav .add_recipe_nav .__bookmark,
.main_container nav .bar_container_nav .bookmark_nav .__add_recipe,
.main_container nav .bar_container_nav .bookmark_nav .__bookmark {
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 0.5vw;
    cursor: pointer;
    color: dimgray;
  }
  .main_container nav .navigation_bar {
    display: none;
  }
  .main_container .page_container {
    border-radius: 0px 0px 10px 10px;
    margin-top: 0vh;
    height: 170vh;
  }
  .main_container .page_container .recipe_list_container {
    flex-basis: 30%;
    height: 170vh;
    border-radius: 0px 0px 0px 10px;
    background-color: white;
  }
  .main_container .page_container .recipe_list_container .--bookmark_section_message {
    font-size: 1.5em;
  }
  .main_container .page_container .recipe_list_container .meal_container {
    height: 16vh;
  }
  .main_container .page_container .recipe_list_container .meal_container .__meal_img {
    width: 10vh;
    height: 10vh;
  }
  .main_container .page_container .recipe_list_container .meal_container .__meal_name {
    font-size: 1.1em;
  }
  .main_container .page_container .recipe_list_container .meal_container .__recipe_owner {
    font-size: 0.8em;
    color: dimgray;
  }
  .main_container .page_container .recipe_list_container .btn_pagination_container {
    height: 12vh;
    bottom: 0vh;
  }
  .main_container .page_container .recipe_list_container .btn_pagination_container .page_left,
.main_container .page_container .recipe_list_container .btn_pagination_container .page_right {
    width: 6.2vw;
    height: 5vh;
    font-size: 0.9em;
    border-radius: 200px;
    cursor: pointer;
  }
  .main_container .page_container .recipe_container {
    flex-basis: 70%;
  }
  .main_container .page_container .recipe_container .__empty_page_message {
    margin-left: 30vh;
    font-size: 1.5em;
  }
  .main_container .page_container .recipe_container .img_container {
    width: 100%;
    height: 45vh;
  }
  .main_container .page_container .recipe_container .img_container .__img_big {
    object-fit: cover;
  }
  .main_container .page_container .recipe_container .img_container .meal_name_tag {
    width: 50%;
    line-height: 8vh;
  }
  .main_container .page_container .recipe_container .img_container .meal_name_tag .__meal_name_tag {
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 0.8rem 0.5rem;
  }
  .main_container .page_container .recipe_container .serving_container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 10vh;
    justify-content: space-around;
  }
  .main_container .page_container .recipe_container .serving_container .cooking_time_container {
    width: 15%;
    margin-left: 5vw;
  }
  .main_container .page_container .recipe_container .serving_container .cooking_time_container .__cooking_time_icon,
.main_container .page_container .recipe_container .serving_container .cooking_time_container .__cooking_time_number,
.main_container .page_container .recipe_container .serving_container .cooking_time_container .__minute_text {
    font-size: 1.1em;
  }
  .main_container .page_container .recipe_container .serving_container .cooking_time_container .__minute_text {
    color: dimgray;
  }
  .main_container .page_container .recipe_container .serving_container .number_of_serving_container {
    width: 20%;
  }
  .main_container .page_container .recipe_container .serving_container .number_of_serving_container .__number_of_serving_icon,
.main_container .page_container .recipe_container .serving_container .number_of_serving_container .__number_of_serving,
.main_container .page_container .recipe_container .serving_container .number_of_serving_container .__servings_text {
    font-size: 1.1em;
  }
  .main_container .page_container .recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container {
    justify-content: space-between;
  }
  .main_container .page_container .recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container .__btn_decrease,
.main_container .page_container .recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container .__btn_increase {
    border: solid 1px #f48982;
    width: 1.3vw;
    height: 1.3vw;
  }
  .main_container .page_container .recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container .__btn_decrease .--minus,
.main_container .page_container .recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container .__btn_decrease .--plus,
.main_container .page_container .recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container .__btn_increase .--minus,
.main_container .page_container .recipe_container .serving_container .number_of_serving_container .btn_number_of_serving_container .__btn_increase .--plus {
    font-size: 10px;
  }
  .main_container .page_container .recipe_container .serving_container .btn_bookmark_container {
    width: 20vw;
    margin-right: 5vw;
    display: flex;
    justify-content: flex-end;
  }
  .main_container .page_container .recipe_container .serving_container .btn_bookmark_container .serving_container_user {
    margin-right: 1vw;
    font-size: 1em;
  }
  .main_container .page_container .recipe_container .serving_container .btn_bookmark_container .__btn_bookmark {
    font-size: 1.2em;
    padding: 0.6em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    cursor: pointer;
  }
  .main_container .page_container .recipe_container .serving_container .btn_bookmark_container .serving_container_user {
    font-size: 1.1em;
  }
  .main_container .page_container .recipe_container .ingredient_container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_container .page_container .recipe_container .ingredient_container .__ingredient_heading {
    font-size: 1.3em;
    margin-bottom: 1vh;
  }
  .main_container .page_container .recipe_container .ingredient_container .ingredient_info_container {
    height: 6vh;
    width: 30vw;
    font-size: 1.1em;
    color: dimgray;
  }
  .main_container .page_container .recipe_container .ingredient_container .ingredient_info_container .--check_icon {
    margin-left: 2vw;
  }
  .main_container .page_container .recipe_container .ingredient_container .ingredient_info_container .__ingredient {
    margin-left: 2vw;
  }
  .main_container .page_container .recipe_container .cooking_instruction_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 45vh;
    bottom: 14vh;
  }
  .main_container .page_container .recipe_container .cooking_instruction_container .__instruction_heading {
    font-size: 1.5em;
    font-weight: lighter;
  }
  .main_container .page_container .recipe_container .cooking_instruction_container .__instruction_info {
    width: 70%;
    font-size: 1.3em;
    margin-top: -7vh;
    color: dimgray;
  }
  .add_recipe_section {
    width: 100vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
  }
  .add_recipe_section .add_recipe_container {
    width: 80vw;
    height: 90vh;
    left: 10vw;
    top: 5vh;
  }
  .add_recipe_section .add_recipe_container .__btn_close_recipe_data {
    margin-right: -75vw;
    margin-top: 2vh;
    font-size: 3vw;
    background-color: transparent;
    color: dimgray;
  }
  .add_recipe_section .add_recipe_container .upload_form_container .--upload__heading {
    font-size: 1.5em;
    color: dimgray;
  }
  .add_recipe_section .add_recipe_container .upload_form_container .upload_item_container {
    height: 7vh;
    margin-top: 2vh;
  }
  .add_recipe_section .add_recipe_container .upload_form_container .upload_item_container .--label_upload {
    font-size: 1.2em;
    margin-right: 2vw;
    color: dimgray;
  }
  .add_recipe_section .add_recipe_container .upload_form_container .upload_item_container .--input_upload {
    width: 17vw;
    height: 4vh;
    border-radius: 0px;
    border-color: dimgray;
  }
  .add_recipe_section .add_recipe_container .btn_upload {
    height: 7vh;
    width: 20vw;
    margin: 3vh auto;
    font-size: 1.5em;
    border-radius: 200px;
  }
  .bookmark_section {
    width: 30vw;
    height: 50vh;
    top: 16vh;
    right: 5vw;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .bookmark_section::-webkit-scrollbar {
    display: none;
  }
  .bookmark_section .bookmark_section_exclamation_container {
    display: flex;
    flex-direction: "";
    align-items: center;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 5vh;
    justify-content: space-between;
    display: none;
    display: flex;
  }
  .bookmark_section .__btn_close_bookmark_section {
    right: 2vw;
    font-size: 2em;
    background-color: transparent;
    color: dimgray;
  }
}/*# sourceMappingURL=styles.css.map */