@use '../abstracts/variables';
@use '../abstracts/mixins';

.serving_container,
.number_of_serving_container,
.cooking_time_container,
.btn_number_of_serving_container,
.btn_bookmark_container {
  display: flex;
  justify-content: space-between;
}

.recipe_container {
  flex-basis: variables.$recipe_container_width_mobile;
  .__empty_page_message {
    margin: variables.$empty_page_message_margin_mobile;
  }
  .recipe_container_active {
    display: none;
  }
  .img_container {
    position: relative;
    width: 100%;
    height: variables.$img_container_height_mobile;
    .__img_big {
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: 0;
    }
    .__img_shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      @include mixins.linear-gradient(variables.$img_shadow_opacity);
      z-index: 1;
    }
    .meal_name_tag {
      position: absolute;
      width: 50%;
      bottom: 0;
      margin-bottom: variables.$meal_name_tag_margin_bottom_mobile;
      @include mixins.center-horizontally-rotate(
        variables.$meal_name_tag_margin_rotate_deg_mobile
      );
      text-align: center;
      z-index: 2;

      .__meal_name_tag {
        box-decoration-break: clone;
        @include mixins.linear-gradient();
        font-size: variables.$meal_name_tag_font_size_mobile;
        text-transform: uppercase;
        padding: variables.$meal_name_tag_padding_y_mobile
          variables.$meal_name_tag_padding_x_mobile;
      }
    }
  }
  .serving_container {
    margin-top: variables.$serving_container_margin_top_mobile;
    height: variables.$serving_container_height_mobile;
    display: flex;
    .cooking_time_container {
      width: variables.$cooking_time_container_width_mobile;
      align-self: center;
    }
    .number_of_serving_container {
      width: variables.$number_of_serving_container_width_mobile;
      align-self: center;

      .btn_number_of_serving_container {
        width: 25%;
        align-self: center;
        justify-content: space-between;
      }
    }

    .btn_bookmark_container {
      width: variables.$btn_bookmark_container_width_mobile;
      margin-right: variables.$btn_bookmark_container_margin_right;

      .serving_container_user {
        @include mixins.flex-center(row, center);
        font-size: variables.$serving_container_user_font_size_mobile;
        display: none;
      }
    }
  }

  .ingredient_container {
    width: 100%;
    height: variables.$ingredient_container_height_mobile;
    background-color: variables.$color_ingredient;
    overflow-y: scroll;
    .__ingredient_heading {
      text-align: center;
      padding-top: variables.$ingredient_heading_padding_top_mobile;
    }
    .ingredient_info_container {
      display: flex;
      align-items: center;
      height: variables.$ingredient_info_container_height_mobile;
      font-size: variables.$ingredient_info_container_font_size_mobile;
      padding: 0.8em 0.3em;
      display: none;
      .--check_icon {
        margin-left: variables.$check_icon_margin_left_mobile;
      }
      .__ingredient {
        margin-left: variables.$ingredient_margin_left_mobile;
      }
    }
  }

  .cooking_instruction_container {
    box-sizing: border-box;
    position: absolute;
    @include mixins.flex-center(column, center);
    justify-content: space-around;
    background-color: variables.$color_main_container;
    bottom: variables.$footer_bottom_position_mobile;
  }
}
